.Tabs {
    background-color: #fff;
    position: relative;
    min-height: 200px;
    width: 45vw;
}

@media (min-width: 678px) and (max-width: 768px) {
    .Tabs {
        width: 610px;
    }
}

@media (max-width: 677px) {
    .Tabs {
        width: 90vw;
    }
}