/* @media(min-width: 960px) {
    .Tabs {
        width: 610px;
    }

} */

.Tabs {
    background-color: #fff;
    position: relative;
    
    min-height: 560px;
    max-width: 610px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "AppBar"
    "TabPanel"
    "Footer";
}

@media(min-width: 960px){
    .ResultTab {
        display: none !important;
    }
}