.WorkPage{
  /* margin: 0; */
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 1% 2%;
  grid-gap: 1rem;
  grid-template-rows: 7% 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Header Header"
  "CodeArea ResultTable";
  justify-items: center;
}
.WorkPage .Footer {
  width: 100%;
  background-color: blanchedalmond;
}

@media(min-width: 420px) {
  .RWD-Height-L {
    display: inline;
  }
  .RWD-Height-S {
    display: none;
  }
}
@media(max-width: 420px) {
  .RWD-Height-L {
    display: none;
  }
  .RWD-Height-S {
    display: inline;
  }
  .WorkPage .Header {
    justify-content: start;
  }
}


@media(min-height: 800px) {
  .WorkPage .Footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  .WorkPage .CodeArea {
    grid-area: CodeArea;
    justify-self: end;
  }  
}



@media(max-width:960px) {
  .WorkPage{
    grid-template-rows: 7% 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "Header"
    "CodeArea"
    "Footer";
  }
  .WorkPage .CodeArea {
    grid-area: CodeArea;
    justify-self: center;
  }  
}

@media(max-width:360px) {
  .WorkPage{
    grid-template-rows: 7% 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "Header"
    "CodeArea"
    "Footer";
    /* background-color: blanchedalmond; */
  }
  .WorkPage .CodeArea {
    grid-area: CodeArea;
    justify-self: center;
  }  
}


.WorkPage .Header {
  grid-area: Header;
  justify-self: center;
  
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "homeIcon name"
  "headerline headerline";
  justify-items: center;
}

.WorkPage .Header .HomeIcon {
  grid-area: homeIcon;
  border-color:transparent !important;
}

.WorkPage .Header .HeaderName {
  grid-area: name;
}

.WorkPage .Header .Headerline {
  grid-area: headerline;
}



.WorkPage .CodeArea {
  grid-area: CodeArea;
}

.WorkPage .ResultTable {
  grid-area: ResultTable;
  justify-self: start;
}

@media(max-width:960px) {
  .WorkPage .Footer {
    grid-area: Footer;
  }
}




.editorTitle {
    padding: 10px;
    font-family: Tahoma;
    font-weight: bold;
}

.editorContainer {
    background-color: #1d1e22;
    height: 100%;
    color: #b7bbc8;
    padding-left: 5px;
    position: relative;
}

