.WorkPage{
  /* margin: 0; */
  height: 100vh;
  width: 100vw;
  display: grid;
  /* padding: 1% 2%; */
  grid-gap: 1rem;
  /* grid-template-rows: 7% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "Header Header"
  "CodeArea ResultTable"
  "Footer Footer"; */
  /* justify-items: center; */
}

@media (max-width: 768px) {
  .WorkPage{
    grid-template-rows: 7% 1fr 1fr 7%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "Header"
    "CodeArea"
    "ResultTable"
    "Footer";
  }
  .WorkPage .Header {
    grid-area: Header;
    justify-self: center;
  }
  .WorkPage .CodeArea {
    grid-area: CodeArea;
    justify-self: center;
  } 
  .WorkPage .ResultTable {
    grid-area: ResultTable;
    justify-self: center;
  }
  .WorkPage .Footer {
    grid-area: Footer;
    justify-self: center;
  } 
}

@media (min-width: 769px) {
  .WorkPage{
    grid-template-rows: 7% 1fr 1fr 7%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "Header Header"
    "CodeArea ResultTable"
    "Footer Footer";
  }
  .WorkPage .Header {
    grid-area: Header;
    justify-self: center;
  }
  .WorkPage .CodeArea {
    grid-area: CodeArea;
    justify-self: end;
  } 
  .WorkPage .ResultTable {
    grid-area: ResultTable;
    justify-self: start;
  }
  .WorkPage .Footer {
    grid-area: Footer;
    justify-self: center;
  } 
}


@media(max-width: 576px) {
  .RWD-Height-L {
    display: none;
  }
  .RWD-Height-S {
    display: inline;
  }
}

@media(min-width: 576px) {
  .RWD-Height-L {
    display: inline;
  }
  .RWD-Height-S {
    display: none;
  }
}

.WorkPage .Header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "homeIcon name"
  "headerline headerline";
  justify-items: center;
}

.WorkPage .Header .HomeIcon {
  grid-area: homeIcon;
  border-color:transparent !important;
}

.WorkPage .Header .HeaderName {
  grid-area: name;
}

.WorkPage .Header .Headerline {
  grid-area: headerline;
}

.WorkPage .Footer {
  width: 100%;
  background-color: blanchedalmond;
}

.editorTitle {
    padding: 10px;
    font-family: Tahoma;
    font-weight: bold;
}

.editorContainer {
    background-color: #1d1e22;
    height: 100%;
    color: #b7bbc8;
    padding-left: 5px;
    position: relative;
}

