.HomePage {
    display: grid;
    height: 100vh;
    width: 100%;
    /* background-color: blanchedalmond; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    "."
    "Header"
    "Button"
    ".";
}

.HomePage > .Header {
    grid-area: Header;
    align-self: center;
    justify-self: center;
}

.HomePage > .Button {
    grid-area: Button;
    align-self: center;
    justify-self: center;
}


